body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #0a0a0a;
    transition: background-color 1s ease-in-out;
}




/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Inter, sans-serif;
}

header {
    background-color: #0A0A0A;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.download-button, .discord-button, .alternate-download, .key {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: darkviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-button:hover, .discord-button:hover, .alternate-download:hover, .key:hover {
    background-color: darkviolet;
}

/* Add this CSS rule */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

